@media screen and (min-width: 460px) {
    .header{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .articles{
        margin: 20px 0px;
    }
    .article__header{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #646464;
        font-family: Arial, Helvetica, sans-serif;
    }
    .article__data{
        display: none;
    }
    .article{
        background-color: #ffffff;
        padding: 0px 20px;
        
    }
    .article__h2{
        font-size: 2.5rem;
    }
    .article__text{
        border: none;
        background-color: #ffffff;
    }
    .article__p{
        padding: 0px 5px;
        border-bottom: 1px solid #646464;
        padding: 0px 0px 10px;
    }
    .article__footer{
        display: flex;
        color: #646464;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: end;

    }
    .article__footer-text{
        padding: 0px 40px;
        border-right: 1px solid #646464;
    }
}

@media screen and (min-width: 480px) {
    .header{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .articles{
        margin: 20px 0px;
    }
    .article__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .article__text{
        background-color: #ffffff;
    }
    .article__image{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    }
    .footer{
        font-size: 0.9rem
    }
    .nav__item{
        padding: 0px 6px;
    }
}

@media screen and (min-width: 600px) {
    .header{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .articles{
        margin: 20px 0px;
    }
    .article__body{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .article__image{
        width: 40%;
        width: 300px;
    }
    .article__text{
        width: 40%;
        background-color: #ffffff;
        padding: 0px 5px;
    }
    .article__footer-text{
        padding: 0px 25px;
    }
    .nav__item{
        width: 100%;
        padding: 0px 20px;
    }
}

@media screen and (min-width: 768px) {
    .header{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .header__h1{
        display: flex;
        font-size: 1.3rem;
        font-family: sans-serif;
        color: #646464;
        padding: 0px 10px;
    }
    .article__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .articles{
        margin: 20px 0px;
    }
    .article__image{
        width: 100%;
    }
    .article__text{
        width: 100%;
        background-color: #ffffff;
    }
    .article__footer-text{
        padding: 0px 40px;
    }
    .article__header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .article__data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .article__title{
        text-align: justify;
    }
    .article__data{
        border-left: 1px solid #646464;
        margin: 0px 20px;
        padding: 0px 20px;
    }
    .article__date{
        font-weight: bold;
    }
    .article__p{
        border: none;
    }
    .article__h2{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .header{
        display: flex;
        justify-content: space-around;
        z-index: 5;
        width: 100%;
    }
    .container{
        position: relative;
        background-color: #F5F5F4;
        display: grid;
        grid-template-columns: 260px 1fr;
        grid-template-areas: "header header"
                            "aside articles"
                            "aside article"
                            "footer footer";
    }
    .aside{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-area: aside;
        position: absolute;
        top: 0px;
        left: 0px;
        font-family: sans-serif;
        color: #646464;
        width: 100%;
        margin: 10px 5px 20px 0px;
        z-index: 1;
    }
    .aside__header{
        font-size: 1.6rem;
        padding: 40px 0px 0px;
        color: #646464;
    }
    .aside__text{
        width: 100%;
    }
    .article__text{
        background-color: #ffffff;
    }
    .card{
        margin: 30px 20px;
        background-color: #FEFFFE;
        border-radius: 5px;
    }
    .card__image{
        width: 230px;
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        border-radius: 5px;
    }
    .card__text{
        text-align: justify;
        padding: 0px 5px;
    }

    .header{
        grid-area: header;
    }
    .articles{
        grid-area: articles;
        margin: 20px 0px;
    }
    .footer{
        grid-area: footer;
        margin: 60px 0px;
    }
    .superior__img{
        display: flex;
        background-color: #fefffe7d;
        width: 60px;
        position: fixed;
        border-radius: 5px;
        top: 40px;
        right: 0px;
        justify-content: end;
        align-items: center;
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    }
}

@media screen and (min-width: 1200px) {
    body{
        background-color: #F5F5F4;
    }
    .container{
        display: grid;
        grid-template-columns:150px 260px 1fr;
        grid-template-areas: "header aside articles"
                            "header aside articles"
                            "header aside article"
                            "footer footer footer";
    }
    .header{
        width: 100%;
        position: relative;
        flex-direction: column;
        margin: 0px;
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: #F5F5F4;
        margin: 30px 0px;
        border: none;
    }
    .superior__img{
        display: none;
    }
    .header__h1{
        display: none;
    }
    .nav__list{
        flex-direction: column;
    }
    .nav__link{
        border-bottom: 1px solid #646464;
        padding: 0px;
    }
    .nav__item{
        margin: 3px 0px;
    }
    .aside{
        margin: 30px 0px;
    }
    .aside__header{
        margin: 0px;
        padding: 10px 0px;
    }
    .articles{
        margin: 0px;
        padding: 0px;
    }
    .article__text{
        background-color: #F5F5F4;
    }
    .article{
        background-color: #F5F5F4;
        margin: 30px 0px;
        border: 1px solid #646464;
    }
    .footer{
        grid-area: footer;
        margin: 40px 0px;
    }
}